<h1>Task List</h1>
<hr />

<ul>
  <% @tasks.each do |task| %>
    <li class=task id=task_<%=task.id%> >
    <% if task.started %>
      <%= link_to "Complete", complete_goal_task_path(@goal, task), :method => :put %>
    <% else %>
      <%= link_to "Start", start_goal_task_path(@goal, task), :method => :put %>
    <% end %>
    <%= task.name %> - <%= task.description %> - <%= task.person %>
  <%end%>
</ul>

<hr />

<%= link_to "Add task", new_goal_task_path(@goal) %>
