<h1>Lightning Talks</h1>

<%= link_to "add a lightning talk", new_talk_path %>

<%= link_to "view unsorted", talks_path %>
<%= link_to "view sorted by vote count", sorted_talks_path %>
<div class='talks'>
<% @talks.each do |talk| %>
  <div class='talk'>
    <%= link_to "LIKE", talk_votes_url(talk), method: "post" %>
    <div class='votes'><%=talk.vote_count%></div>
    <div class='title'><%=talk.title%></div>
  </div>
<% end %>
</div>

