<h1> Books for <%= @theme.title %> </h1>

<%= link_to "Sorted Books", sorted_theme_books_path %>
<hr/>
<div class='books'>
  <% @books.each do |book| %>
  <div class='book' id="book_<%= book.id %>">
    <li><%= link_to "Vote", theme_book_votes_path(@theme, book), :method => :post %>
    <%= book.title %> by <%= book.author %></li>
  </div>
  <% end %>
</div>
<hr/>
<%= link_to "Create New Book", new_theme_book_path %>
