<h1> Create New Book </h1>

<div class='form'>
<%= form_for [@theme, @book] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <br>
    <%= f.submit "Submit New Book" %>
<% end %>
</div>
