<h1>Goals for <%= @project.name %>, Bitch!</h1>
<ul>
<% @goals.each do |goal| %>
  <li id="goal_<%= goal.id %>">
    <%= goal.name %>
    <%= link_to 'Edit', edit_project_goal_path(@project, goal) %>
    <%= link_to 'Delete', project_goal_path(@project, goal), :method => :delete %>
  </li>
<% end %>
</ul>
